html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit

a
  text-decoration: none
  color: inherit

ul, li
  margin: 0
  padding: 0
  list-style: none

h1, h2, h3, h4, h5, h6, p
  margin: 0  

body
  width: 1440px
  margin: 0 auto
  color: #000000
  font-family: 'HelveticaRegular', sans-serif;
  font-weight: 400

.container
  max-width: 1186px // + 15px + 15px padding 
  margin: 0 auto
  padding: 0 15px
 





    
 